**
!LICENSE
!NOTICE.md
!web/
!web/package.json
!package.json
!bun.lock
!bunfig.toml
!web/tsconfig.base.json
!web/go.mod
!web/go.sum
!web/cmd/
!web/cmd/**
!web/internal/
!web/internal/**
!web/tests/
!web/tests/deployment/
!web/tests/deployment/git-runtime.test.sh
!web/tests/ui/
!web/tests/ui/**
!assistant/
!assistant/package.json
!assistant/src/
!assistant/src/**
!shared/
!shared/package.json
!shared/go.mod
!shared/piprotocol/
!shared/piprotocol/**
!shared/schema/
!shared/schema/**
!shared/src/
!shared/src/**
!web/webui/
!web/webui/**
**/node_modules
**/dist
!web/webui/dist/
web/webui/dist/*
!web/webui/dist/.gitkeep
!web/scripts/
!web/scripts/release-runtime.ts
**/.build
**/*_test.go
**/*.test.ts
**/*.test.tsx
**/*.tsbuildinfo
**/*.log
**/.env*
