**
!LICENSE
!NOTICE.md
!package/
!package/package.json
!package.json
!bun.lock
!bunfig.toml
!package/tsconfig.base.json
!package/go.mod
!package/go.sum
!package/cmd/
!package/cmd/**
!package/internal/
!package/internal/**
!package/tests/
!package/tests/deployment/
!package/tests/deployment/git-runtime.test.sh
!package/tests/ui/
!package/tests/ui/**
!agent/
!assistant/
!assistant/package.json
!assistant/scripts/
!assistant/scripts/*.mjs
!assistant/patches/
!assistant/patches/*.patch
!package/contracts/
!package/contracts/**
!package/webui/
!package/webui/**
**/node_modules
**/dist
!package/webui/dist/
package/webui/dist/*
!package/webui/dist/.gitkeep
**/.build
**/*_test.go
**/*.test.ts
**/*.test.tsx
**/*.tsbuildinfo
**/*.log
**/.env*

!agent/extensions/
!agent/extensions/local-patches/
!agent/extensions/local-patches/*.patch
